# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env files
.env

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
